:root {
  --primary: #26d29b;
  --secondary: #8360c3;
  --copy: #3c3c3c;
  --aranja: #336bb4;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-display: swap;
  color: var(--copy);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  text-align: center;
  margin: 0 0 2.5rem;
}

.logo img {
  vertical-align: middle;
}

.form {
  text-align: center;
  margin-bottom: 5rem;
}

.input-group {
  display: flex;
  text-align: center;
  max-width: 30rem;
  height: 3.75rem;
  margin: 0 auto;
  padding: 4px;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(to right, var(--secondary), var(--primary));
}

.input-group .input {
  flex: 1;
  border: none;
  font-size: 2rem;
  text-align: center;
  color: var(--primary);
  padding: 0.5rem;
  background: white;
  border-radius: 10px 0 0 10px;
}

.input:focus {
  outline-color: var(--primary);
}

.input-group .button {
  flex-shrink: 0;
  background: transparent;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  padding: 1rem;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

.input-group .button:focus {
  outline-color: var(--primary);
}

.label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  display: block;
}

.footer {
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 1rem;
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--aranja);
  font-weight: 700;
  text-decoration: none;
}
